/*
  -------------------------------------------------

  Text

  -------------------------------------------------
 */

p,
ul,
.Text,
.Text--meta,
blockquote p em {
  font-size: var(--fs-text);
  font-weight: 400;
  letter-spacing: var(--ft-text);
  line-height: var(--fl-text);
}

/* 
  -------------------------------------------------
  
  Headings
  
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

h1,
h2,
h3,
.Heading,
.Subheading {
  font-family: var(--ff-text-regular), var(--ff-stack-serif);
  font-size: var(--fs-text);
  font-weight: 400;
  letter-spacing: var(--ft-text);
  line-height: var(--fl-text);
}

h2,
h3,
.Heading {
  font-family: var(--ff-text-medium), var(--ff-stack-serif);
  font-weight: 500;
}

.Title {
  font-family: var(--ff-title), var(--ff-stack-serif);
  font-size: calc(1.75em * var(--fs-text-unit));
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.0025em;
  text-decoration: none;

  & a:hover,
  & a:active {
    color: var(--c-brand);
    text-decoration: none;
  }
}

.Meta {
  font-family: var(--ff-meta), var(--ff-stack-serif);
  font-size: calc(0.75em * var(--fs-text-unit));
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Meta--isParagraph {
  line-height: 1.75;
}

/* 
  -------------------------------------------------

  Spaces

  -------------------------------------------------
 */

p,
ul,
ol,
blockquote,
h1,
h2,
h3,
h4,
h6,
.ParagraphSpace {
  margin-bottom: var(--s-3);

  @media (--md) {
    margin-bottom: var(--s-3b);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h6,
.HeadingSpace {
  &:not(:first-child) {
    margin-top: calc(3 * var(--s-3));

    @media (--md) {
      margin-top: calc(3 * var(--s-3b));
    }
  }
}

.FooterSpace {
  padding-top: calc(3 * var(--s-3));

  @media (--md) {
    padding-top: calc(3 * var(--s-3b));
  }
}

blockquote {
  margin-top: calc(1.5 * var(--s-3));
  margin-bottom: calc(1.5 * var(--s-3b));
}

* + .Button {
  margin-top: var(--s-3);

  @media (--lg) {
    margin-top: var(--s-3b);
  }
}

/* 
  -------------------------------------------------

  Post markdown theme

  -------------------------------------------------
 */

em {
  font-family: var(--ff-text-regular-italic), var(--ff-stack-serif);
  font-style: italic;
}

/* PARA within posts? Nah */
.BlogScope strong {
  // font-family: var(--ff-text-regular), var(--ff-stack-serif);
  // font-weight: 500;
  // background-color: var(--c-highlight);
}

.BlogScope hr {
  background-color: transparent;

  &:after {
    content: "* * *";
    display: block;
    font-size: var(--fs-text);
    letter-spacing: 0.025em;
    line-height: 1;
    margin: auto;
    text-align: center;
    transform: translateY(-0.175em);
  }
}

/*
  -------------------------------------------------

  blockquote (not incl. spacing)

  -------------------------------------------------
 */

blockquote p {
  border-left: 1px solid;
  border-color: var(--c-textLight);
  // color: var(--c-textLight);
  font-family: var(--ff-text-regular-italic), var(--ff-stack-serif);
  font-style: italic;
  padding-left: var(--s-3a);

  @media (--sm) {
    padding-left: var(--s-3b);
  }

  &:before {
    // content: "“";
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
  }

  & p {
    border: initial;
    font-family: var(--ff-text-regular), var(--ff-stack-serif);
    font-style: normal;
    padding: initial;
  }
}

.Footer blockquote p {
  border: initial;
  font-style: normal;
  padding: initial;
}

blockquote p em {
  display: table;
  /* resetting ems before applying font sizing: */
  font-size: calc((16 / (var(--fs-text-unit) * 16)) * var(--fs-text)) !important;
}

/*
  -------------------------------------------------

  tweet embed

  -------------------------------------------------
 */

.twitter-tweet {
  // margin: calc(1.5 * var(--s-3)) auto !important;
  margin-top: calc(1.5 * var(--s-3)) !important;
  margin-bottom: calc(1.5 * var(--s-3)) !important;
  padding-left: var(--s-3a);
}

/*
  -------------------------------------------------

  footnoting

  -------------------------------------------------
 */

.Fn {
  font: inherit;
  font-size: 60%;
  vertical-align: top;
  margin-right: 1px;
}
